.messages {
    flex-basis: 42%;
    height: 77%;
    background: url('/assets/messages.png') no-repeat;
    background-position: 50% 50%;
    background-size: auto 58%;
}

.notifications {
    flex-basis: 42%;
    height: 77%;
    background: url('/assets/notifications.png') no-repeat;
    background-position: 50% 45%;
    background-size: auto 70%;
    position: relative;
}

.notifications__new {
    width: 40%;
    height: 40%;
    position: absolute;
    right: 1px;
}