.tasksDisplay {
    height: 100%;
}



.tasksHeader {
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5% 2% 7%;
    color: rgba(14, 26, 53, 255);
}

.counters {
    flex-basis: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
.counter {
    width: 13%;
    margin: 2%;
}

.tasksList {
    overflow: hidden;
    height: 83%;
}

.tasksList:hover {
    overflow-y: scroll;
}

.task {
    height: 25%;
    border-top: solid 1px rgba(218, 222, 231, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.marker {
    width: 4.5rem;
    padding: 0 1rem 0 1.5rem;
}

.content {
    width: 13rem;
    display: flex;
    flex-direction: column;
}

.taskText {
    color: rgba(14, 26, 53, 255);
    font-size: smaller;
}

.timeLeft {
    font-size: small;
    padding: 0.5em 0 0 2em;
    background: url('/assets/clock.png') no-repeat;
    background-position: left;
}

.onTime {
    color: rgba(132, 146, 175, 255);
}

.delay {
    color: rgba(248, 73, 131, 255);
}

.dragIcon {
    height: 1.5rem;
}
