.tasksDisplay {
    height: 100%;
}

.tasksList {
    overflow: hidden;
    height: 83%;
}

.tasksList:hover {
    overflow-y: scroll;
}

.task {
    height: 25%;
    border-top: solid 1px rgba(218, 222, 231, 255);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

