.sideMenuToggle {
    height: 30%;
    width: 1.5rem;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background: url('/assets/menu-hamburger.svg') right center/ 65% no-repeat, url('/assets/caret-left.svg') left center / 15% no-repeat;
}

.profileOptions {
    height: 75%;
    width: 22.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileActions {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileOptions__profile {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

