.app {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sideMenu {
    height: 100%;
}

.topMenu {
    flex-basis: 8.77%;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.mainScreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-basis: 100%;
    flex-grow: 1;
}