/* You can add global styles to this file, and also import other style files */
* {
    /* border: solid black 1px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    height: 1352px;
    width: 1920px;
  }
   
app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    background: red;
}