/* You can add global styles to this file, and also import other style files */
* {
    /* border: solid black 1px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
}



body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    font-family: arial;
    height: 1352px;
    width: 1920px;
    /* height: 100vh; */
    /* width: 100%; */
    /* height: calc(1352/1920*100vw); */
  }
   
app-root {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    background: red;
}

@media (min-width: 1400px) {
    html {
        font-size: 1.5em;
    }
}