<ul class="sideMenu">
  <li class="sideMenu__header">
    <div class="logoContainer"><img src="assets/logo.png"></div>
  </li>
  <li class="sideMenu__item" *ngFor="let item of menuItems">
    <app-menu-item [menuItem]="item"></app-menu-item>    
  </li>
</ul>
  <!-- <div class="sideMenu__item"><div class = "content"><span class="content__text">Workflow</span></div></div>
  <div class="sideMenu__item"><div class = "content"><span class="content__text">Statistics</span></div></div>
  <div class="sideMenu__item"><div class = "content"><span class="content__text">Calendar</span></div></div>
  <div class="sideMenu__item"><div class = "content"><span class="content__text">Users</span></div></div>
  <div class="sideMenu__item"><div class = "content"><span class="content__text">Settings</span></div></div> -->

