.circleContainer {
	position: relative;
	width: 100%;		
}
.circleContainer:before{
	content: "";
	display: block;
	padding-top: 100%; 	
}

.circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: arial;
    color: white;
}